.carousel-container {
	width: 100%; /* Largura do contêiner */
	height: 60%; /* Altura do contêiner */
	overflow: hidden; /* Permite rolagem apenas na direção horizontal */
	padding: 85px;
	margin: auto;
	gap: 80px;
	display: flex;
}
.carrosel-blur {
	justify-content: center;
	border: 50px,50px,50px,50px;
	border-color: black;
}

/* Estilo para as imagens */
.carousel-item {
	min-width: 100px;
	max-width: 300px;
	flex-shrink: 0;
	scroll-snap-align: start;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.carousel-item img {
	width: 100%;
	object-fit: fill;
}
